@import url("./bootstrap.min.css");
/* Write your CSS here */
.scrollBox {
    height: 100%;
    overflow:auto;
}

#header
{
  text-align: center;  
  padding: 15px 0px 15px 10px;
  background-color: salmon;
}