@import url("./bootstrap.min.css");
/* Write your CSS here */
#header
{
  text-align: center;  
  padding: 15px 0px 15px 10px;
  background-color: #6bb1ff;
  text-shadow: 2px 2px 25px rgb(67, 226, 53);
}

.card-title {
  font-style: italic;
  font-weight: bold;
}

.card-text {
  display: block;
}

.card-date {
  float: right;
}

#quote-input {
  padding-right: 50px;
}

label {
 margin-left: 7%;
 font-family: garamond;
 font-size: 25px;
 min-width: 150px;
 text-align: right;
}

#quote-box {
  display: flex;
}

#note-title {
  padding-left: 10%;
}

#AddNote {
  margin-left: 15%;
}

#AddNote:hover {
  box-shadow: 0px 0px 25px rgb(44, 95, 206);
}

#memo-title {
  text-align: center;
}

#memo-board {
  display: flex;
  flex-wrap: wrap;
}

#Profile-Image {
  height: 250px;
  width: 250px;
}